<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Movie",
  "name": "{{movie.title}}",
  "genre": [{% for category in movie.categories %}"{{ category }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  "url": "https://pingutv.codeberg.page/series/{{movie.slug}}/",
  "inLanguage": "pt-BR",
  "image": "{{movie.coverImage}}",
}
</script>
