{% set series = [
    {
        title: 'Exemplo de Série 1',
        link: 'https://pingutv.codeberg.page/series/exemplo-serie-1/',
        description: 'Descrição da Série 1',
        pubDate: 'Mon, 18 Oct 2024 12:00:00 GMT'
    }, 
    {
        title: 'Exemplo de Série 2',
        link: 'https://pingutv.codeberg.page/series/exemplo-serie-2/',
        description: 'Descrição da Série 2',
        pubDate: 'Mon, 17 Oct 2024 12:00:00 GMT'
    }
] %}

<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Pingu TV+: Animes, Séries, Novelas, Filmes e Desenhos Online!</title>
        <link>https://pingutv.codeberg.page/</link>
        <description>O melhor dos Animes, Séries, Novelas, Filmes e Desenhos Online!</description>
        <language>pt-BR</language>
    </channel>
</rss>
